body {
    font-family: Arial;
    margin: 20px;
  }
  
  input {
    padding: 5px;
  }
  
  button {
    padding: 8px 15px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #ddd;
  }
  